<div class="container">
  <!-- pulsanti dadi -->
  <div class="position-relative d-none d-md-block">
    <div class="position-fixed top-2 end-0 z-1 p-2">
      <!-- pulsanti dadi -->
      <button (click)="diceService.setShowButtons()" 
              class="btn rounded-circle w-50px h-50px p-2"
              [class.btn-primary]="diceService.showButtons">
        <i class="bi bi-dice-6"></i>
      </button>
      <div class="d-flex flex-column align-items-center gap-1 pt-2" *ngIf="diceService.showButtons">
        <button *ngFor="let set of diceService.pulsantiDadi" 
                class="btn badge rounded-pill text-bg-{{set.color}}" 
                (click)="eseguiComando(set.value)">
          {{ set.value }}
        </button>
      </div>
    </div>
  </div>

  <!-- Main: Griglia della mappa -->
  <section class="row">
    <!-- strumenti -->
    <aside class="pt-3 d-none d-lg-block col-md-3 overflow-auto" style="height: 93vh;">
      <!-- CRONOLOGIA TIRI -->
      <div *ngIf="diceService.tiri.length > 0">
        <ul><li> <h3>Cronologia tiri</h3> </li></ul>
        <div class="">
          <div class="d-flex flex-wrap gap-2">
            <small *ngFor="let tiro of diceService.tiri"
                  class="badge rounded-pill text-bg-{{ tiro.color }} text-nowrap">
              {{ tiro.value }}
            </small>
          </div>
        </div>
      </div>

      <!-- MAPPE SALVATE -->
      <div *ngIf="mappaService.storage_getNames().length > 0">
        <ul><li> <h3>Genera mappa</h3> </li></ul>
        <div class="d-flex-table my-2 rounded overflow-hidden">
          <button (click)="eseguiComando('9x9')" class="btn btn-primary rounded-0">
            <i class="bi bi-house me-2"></i>Stanza 
          </button>
          <button (click)="eseguiComando('12x12')" class="btn btn-primary rounded-0">
            <i class="bi bi-building me-2"></i>Edificio
          </button>
          <button (click)="eseguiComando('26x12')" class="btn btn-primary rounded-0">
            <i class="bi bi-tree-fill me-2"></i>Piazza
          </button>
        </div>
        
        <div class="pb-3 d-flex-table gap-2 align-items-center">
          <div *ngFor="let nome of mappaService.storage_getNames()" class="btn-group"
                style="max-width: 100%;">
            <button (click)="mappaService.mappa_syncStorage(nome)" 
                    class="btn btn-secondary text-truncate text-nowrap">
              <i class="bi bi-map me-2"></i>
              <b class="">{{ nome }}</b>
            </button>
            <button (click)="mappaService.storage_removeMap(nome)" class="btn btn-danger max-w-40px bi bi-trash"></button>
          </div>
          <button [disabled]="mappaService.mappa_isVoid()" (click)="mappaService.storage_addMap('random')" class="btn btn-success">Aggiungi <i class="bi bi-plus"></i></button>
        </div>
      </div>
      
      <!-- LISTA COMBATTENTI -->
      <div class="d-grid mb-3">
        <ul><li> <h3>Combattenti</h3> </li></ul>
        <!-- LISTA COMBATTENTI -->
        <div *ngFor="let combattente of combatService.listaCombattenti; let i=index" 
             class="d-grid cols-auto-1fr"
             [style.background]="combatService.getColoreSquadra(combattente.squadra)">
          <button (click)="combatService.rimuoviCombattente(combattente.id, true)" class="btn btn-danger rounded-0">
            <i class="bi bi-trash"></i>
          </button>

          <button class="btn d-flex align-items-center justify-content-between gap-2 rounded-0" 
                  (click)="eseguiComando('turno ' +combattente.id.toLowerCase())"
                  [class.border]="combattente.id === combatService.giocatoreUltimoTurno"
                  [disabled]="!combattente.bonusAttacco || !combattente.danni">
            <span>{{ combattente.id }}</span>
  
            <div class="d-flex justify-content-between align-items-center gap-2">
              <i class="bi bi-heart d-none d-lg-inline"></i>
              <span class="d-none d-lg-inline">{{ combattente.puntiFerita }}</span>
              @if (combattente.id !== combatService.giocatoreUltimoTurno) {
                <i class="bi bi-caret-right"></i>
              } @else {
                <small class="bi bi-square-fill"></small>
              }
            </div>
          </button>
        </div>

        <!-- NUOVO COMBATTENTE -->
        <form (change)="handleChange($event)" (submit)="handleSubmit($event)">
          <div class="d-flex-table gap-2 my-2">
            <div *ngFor="let field of form; let i = index">
              <label [for]="field.key">{{ field.label }}</label>
              
              @if (field.type=='select') {
                <select [name]="field.key" [id]="field.key" 
                        class="form-control bg-dark">
                  <option value="">Seleziona</option>
                  <option *ngFor="let option of field.options" [value]="option.value">
                    {{ option.label }}
                  </option>
                </select>
  
              }@else if (field.type=='radio') {
                <div class="d-flex flex-wrap gap-2">
                  <div *ngFor="let opt of field.options">
                    <input type="radio" [name]="field.key" id="radio"
                           [value]="opt.value" class="form-check-input me-2" 
                           [checked]="opt.value === field.value"/>
                    <label [for]="field.key">{{ opt.label }}</label>
                  </div>
                </div>
                
              }@else{
                <input [type]="field.type" [name]="field.key" [id]="field.key" 
                       class="form-control"
                       [value]="field.value"
                       [placeholder]="field.placeholder"
                />
              }
            </div>
          </div>

          <div>
            <button type="submit" class="btn btn-primary">Applica</button>
            <button (click)="form_reset()" type="button" class="btn btn-danger mx-2">Reset</button>
          </div>
        </form>
      </div>
    </aside>
        
    <!-- Mappa -->
    <div class="col-12 col-lg-9 py-3 overflow-auto" style="height: 93vh !important;">
      @if (mappaService.mappa_isVoid()) {
        <!-- Messaggio placeholder se la mappa non è stata generata -->
        <div class="d-flex-table gap-2">
          @for (sezione of prompt_sezioni; track sezione) {
            <div class="text-bg-c2 p-2 shadow rounded">
              <h4>{{ sezione }}</h4>
              <ul>
                @for (esempio of prompt_getBySection(sezione); track esempio) {
                  <li><var>"{{ esempio.label }}"</var>: {{ esempio.description }}</li>
                }
              </ul>
            </div>
          }
        </div>

      <!-- TABELLA -->
      } @else {
        <div class="d-flex my-3">
          <button class="btn btn-secondary" (click)="mappaService.mappa_reset()">
            <i class="bi bi-arrow-left"></i>
            Indietro
          </button>
        </div>
        <div class="table-responsive">
          <table class="w-min-content m-auto table table-sm table-dark table-borderless table-striped table-hover table-striped-columns">
            <thead>
              <tr>
                <th></th>
                <!-- Intestazioni delle mappa_colonne (numeri) -->
                <th *ngFor="let col of mappaService.mappa_colonne(); let i = index"
                  class="text-center w-60px">
                  {{ i + 1 }}
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <!-- Righe della tabella -->
              <tr *ngFor="let rowKey of mappaService.mappa_righe()">
                <!-- Intestazione della riga (lettera) -->
                <th class="text-center align-middle p-2">{{ rowKey }}</th>
                <!-- Celle della riga -->
                <td *ngFor="let cellValue of mappaService.mappa_value()[rowKey]; let j = index"
                    [class.table-warning]="cellValue === '-'"
                    [attr.data-cell]="rowKey + (j + 1)"
                    class="align-middle">
                  <app-cell [cellValue]="cellValue"></app-cell>
                </td>
                <!-- Intestazione della riga (lettera) -->
                <th class="text-center align-middle p-2">{{ rowKey }}</th>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th></th>
                <!-- Intestazioni delle mappa_colonne (numeri) -->
                <th *ngFor="let col of mappaService.mappa_colonne(); let i = index"
                  class="px-3 text-center">
                  {{ i + 1 }}
                </th>
                <th></th>
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- TABELLA -->
      }
    </div>
  </section>

  <!-- Footer: Input principale -->
  <div class="pt-5 pt-md-0">
    <div class="fixed-bottom z-1  mx-auto min-w-250px max-w-400px text-bg-c1">
      <div *ngIf="prompt_consiglio.length" class="mx-auto p-1">
        <ul class="m-0">
          <li *ngFor="let consiglio of prompt_consiglio">
            @for(es of consiglio.esempio; track $index) {
              <small *ngIf="es!=', ' ; else virgola">{{ es }}</small>
              <ng-template #virgola>
                <span class="mx-2"> / </span>
              </ng-template>
            }
          </li>
        </ul>
      </div>

      <form (submit)="handlePrompt($event)"
            (input)="prompt_setConsiglio($event)"
            class="m-auto d-flex gap-2">
        <div class="w-100 border rounded p-1 d-flex align-items-center">
          <label for="promptInput" class="visually-hidden">Prompt</label>
          <input id="promptInput" name="promptInput" type="text"
                 class="form-control border-0 shadow-none"
                 placeholder="Inserisci prompt">
          <button type="submit" class="btn btn-primary py-1">
            <i class="bi bi-arrow-return-left"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
  <!-- Footer: Input principale -->
</div>
