<div class="container">
  <div class="position-relative d-none d-md-block">
    <div class="position-fixed top-2 end-0 z-1 pe-4">
      <!-- pulsanti dadi -->
      <div class="d-grid cols-1fr-1fr-1fr gap-2 w-150px">
        <button *ngFor="let set of dice.pulsantiDadi" 
                class="btn btn-{{dice.getColorPulsantiDadi(set)}} p-1" 
                (click)="eseguiComando(set)">
          {{ set }}</button>
      </div>
    </div>
  </div>

  <div class="my-3 alert alert-warning">
    <i class="bi bi-exclamation-triangle text-dark"></i>
    Pagina in sviluppo
  </div>

  <!-- Header: strumenti -->
  <section class="py-3 d-grid gap-2 responsive-200px">
    <!-- Cronologia dei tiri -->
    <div *ngIf="dice.tiri.length > 0">
      <h3>Cronologia dei tiri</h3>
      <div class="overflow-x-auto">
        <div class="d-flex gap-2">
          <small *ngFor="let tiro of dice.tiri"
                class="p-2 border rounded text-nowrap">
            {{ tiro }}
          </small>
        </div>
      </div>
    </div>
    <!-- Mappe salvate -->
    <div *ngIf="mappa.getNomi().length > 0">
      <h3>Mappe salvate</h3>
      <div class="pb-3 d-flex gap-2 align-items-center overflow-x-auto">
        <span *ngFor="let nome of mappa.getNomi()"
              class="border rounded p-2">
          <i class="bi bi-map me-2"></i>
          <b>{{ nome }}</b>
        </span>
      </div>
    </div>
  </section>
  <!-- Header: strumenti -->

  <!-- Main: Griglia della mappa -->
  <section class="row">
    <aside *ngIf="comb.combattenti().length" 
           class="d-none d-md-block col-12 col-md-3">
      <h3>Combattenti</h3>
      <ol>
        <li *ngFor="let combattente of comb.listaCombattenti; let i=index">
          <button class="w-100 btn d-flex align-items-center justify-content-between gap-2 rounded-0" 
                  (click)="eseguiComando('turno ' +combattente.id.toLowerCase())"
                  [class.border]="combattente.id === comb.giocatoreUltimoTurno"
                  [style.background]="comb.getColoreSquadra(combattente.squadra)">
            <span>{{ combattente.id }}</span>

            <div class="d-flex justify-content-between align-items-center gap-2">
              <i class="bi bi-heart d-none d-lg-inline"></i>
              <span class="d-none d-lg-inline">{{ combattente.puntiFerita }}</span>
              @if (combattente.id !== comb.giocatoreUltimoTurno) {
                <i class="bi bi-caret-right"></i>
              }
            </div>
          </button>
        </li>
      </ol>
    </aside>
        
    <!-- Mappa -->
    <div class="col-auto py-3">
      @if (!mappa.righe() || !mappa.colonne()) {
        <!-- Messaggio placeholder se la mappa non è stata generata -->
        <div 
              class="d-flex-table gap-2">
          <!-- Contenuto placeholder -->
          <div class="text-bg-c2 p-2 border rounded">
            <h5>Mappe</h5>
            <ul>
              <li><strong>9x9</strong> per generare una mappa 9x9</li>
              <li><strong>reset</strong> rimuove la mappa corrente</li>
              <li><strong>mappa salva nome_mappa</strong> per salvare la mappa corrente</li>
              <li><strong>mappa nome_mappa</strong> per caricare una mappa salvata</li>
              <li><strong>mappa elimina nome_mappa</strong> per eliminare una mappa salvata</li>
            </ul>
          </div>
    
          <div class="text-bg-c2 p-2 border rounded">
            <h5>Simboli</h5>
            <ul>
              <li><strong>- in b4</strong> per aggiungere il simbolo "-" nella cella b4</li>
              <li><strong>Aldo in b4</strong> per SPOSTARE "Aldo" nella cella b4</li>
            </ul>
          </div>
    
          <div class="text-bg-c2 p-2 border rounded">
            <h5>Dadi</h5>
            <ul>
              <li><strong>2d4</strong> per tirare 2 dadi da 4 facce</li>
              <li><strong>d4+3</strong> per tirare 1 dado da 4 facce e aggiungere 3</li>
              <li><strong>d20-5</strong> per tirare 1 dado da 20 facce e sottrarre 5</li>
            </ul>
          </div>
    
          <div class="text-bg-c2 p-2 border rounded">
            <h5>Combattimento</h5>
            <ul>
              <li><strong>a: x3 gs1/2 +2</strong> assegna 3 npc di gf 1/2 alla squadra a con +2 all'iniziativa</li>
              <li><strong>b: Elio +3 ca18 hp20</strong> aggiunge Elio alla squadra b con +3 all'iniziativa, 18 alla CA e 20 hp</li>
              <li><strong>elio +20</strong> o <strong>elio -20</strong> aggiunge/sottrae 20 hp a Elio</li>
              <li><strong>kaki attacca ciano</strong> l'npc Kaki attacca l'npc Ciano</li>
              <li><strong>turno kaki</strong> L'npc 'Kaki' attacca aunomamente gli avversari</li>
              <li><strong>turno a</strong> Gli npc della squadra a attaccano gli avversari</li>
            </ul>
          </div>
        </div>

      } @else {
        <!-- TABELLA -->
        <div class="table-responsive">
          <table class="w-min-content m-auto table table-sm table-dark table-borderless table-striped table-hover table-striped-columns">
            <thead>
              <tr>
                <th></th>
                <!-- Intestazioni delle colonne (numeri) -->
                <th *ngFor="let col of mappa.mappa_colonne; let i = index"
                  class="text-center w-60px">
                  {{ i + 1 }}
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <!-- Righe della tabella -->
              <tr *ngFor="let rowKey of mappa.mappa_righe">
                <!-- Intestazione della riga (lettera) -->
                <th class="text-center align-middle p-2">{{ rowKey }}</th>
                <!-- Celle della riga -->
                <td *ngFor="let cellValue of mappa.mappa()[rowKey]; let j = index"
                    [class.table-warning]="cellValue === '-'"
                    [attr.data-cell]="rowKey + (j + 1)"
                    class="align-middle">
                  <app-cell [cellValue]="cellValue"></app-cell>
                </td>
                <!-- Intestazione della riga (lettera) -->
                <th class="text-center align-middle p-2">{{ rowKey }}</th>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th></th>
                <!-- Intestazioni delle colonne (numeri) -->
                <th *ngFor="let col of mappa.mappa_colonne; let i = index"
                  class="px-3 text-center">
                  {{ i + 1 }}
                </th>
                <th></th>
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- TABELLA -->
      }
    </div>
  </section>

  <!-- Footer: Input principale -->
  <div class="pt-5">
    <div class="fixed-bottom p-1 shadow-lg text-bg-c1 z-1">
      <form (submit)="handlePrompt($event)"
            class="m-auto d-flex gap-2 min-w-250px max-w-400px">
        <div class="w-100 border rounded p-1 d-flex align-items-center">
          <label for="promptInput" class="visually-hidden">Prompt</label>
          <input id="promptInput" name="promptInput" type="text"
                 class="form-control border-0 shadow-none"
                 placeholder="Inserisci prompt">
          <button type="submit" class="btn btn-primary py-1">
            <i class="bi bi-arrow-return-left"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
  <!-- Footer: Input principale -->
</div>
