<app-navbar></app-navbar>
<article>
  <header>
    <div>
      <img src="assets/angular_logo.png" alt="angular logo">
      <h1 appHome>Laboratorio Angular</h1>
      <p>Benvenuto nel laboratorio del procione! Qui troverai numerose applicazioni in fase di sviluppo create per scopo didattiche</p>
      <a class="btn btn-secondary" href="https://material.angular.io/components/categories"> Angular site </a>
    </div>
  </header>

  <section class="container">
    <h3>Ecco alcuni esperimenti che potrai trovare...</h3>

    <!-- CONTENITORE DELLE CARD -->
    <main class="box">
      <div class="card text-bg-dark" 
           *ngFor="
              let card of cards; 
              index as index; count as count; 
              first as first; last as last
              even as even; odd as odd
            ">
        <img [src]="card.imgUrl" [alt]="card.title" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{ card.title }}</h5>
          <p class="card-text">{{ card.description }}</p>
          <button class="btn btn-primary" [routerLink]="card.path">Visita</button>
        </div>
      </div>

    </main>
  </section>
  <footer></footer>
</article>