<article>
  <app-navbar></app-navbar>

  <div class="container p-2 max-w-400px">
    <!-- INSERIMENTO -->
    <header class="mx-auto">
      <h3 class="text-center mb-4">{{ 'listaDelleCoseDaFare' | paragraph }}</h3>  

      <form #formdata="ngForm" (ngSubmit)="list_create(formdata)" 
            class="mx-auto d-flex gap-2 align-items-end max-w-max-content">
        <div>
          <label for="title">Inserisci azione</label>
          <input class="form-control mt-1"
                 type="text"
                 name="title"
                 id="title"
                 placeholder="Es: Fagioli"
                 required ngModel>
        </div>
        <button type="submit"
                class="btn btn-primary"
                [disabled]="formdata.invalid">
          <i class="bi bi-plus-lg"></i>
          <span class="d-none d-sm-inline mx-1">Aggiungi</span>
        </button>
      </form>
    </header>


    <!-- TABELLA -->
    @if (!list.length) {
      <main class="m-3">
        <div class="alert alert-info">
          La lista è vuota. Compila il campo per popolare la lista.
        </div>
      </main>

    }@else {
      <main class="mx-auto mt-4 d-grid gap-3 align-items-center cols-auto-1fr-auto">
        @for (item of list; track $index) {
          <button class="btn btn-danger" (click)="list_delete($index)">
            <i class="bi bi-trash3-fill"></i>
          </button>
          
          <input class="form-control"
                  (change)="list_update($event, $index)"
                  type="text"
                  id="title"
                  [value]="item.title">
  
          <div class="form-check">
            <input class="form-check-input"
                    (change)="list_update($event, $index)"
                    type="checkbox"
                    id="complete"
                    [checked]="item.complete">
          </div>
        }
      </main>
    }
    

  </div>
</article>